@import './colors';
@import './variables';

:global {
  html {
    width: 100%;
  }

  body {
    width: 100%;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  }

  #app {
    width: 100%;
  }
}
