/**
 * Flat UI Palette v1 Color
 */
$c_turquoise: #1abc9c;
$c_green_sea: #16a085;
$c_emerland: #2ecc71;
$c_nephritis: #27ae60;
$c_peter_river: #3498db;
$c_belize_hole: #2980b9;
$c_amethyst: #9b59b6;
$c_wisteria: #8e44ad;
$c_wet_asphalt: #34495e;
$c_midnight_blue: #2c3e50;
$c_sun_flower: #f1c40f;
$c_orange: #f39c12;
$c_carrot: #e67e22;
$c_pumpkin: #d35400;
$c_alizarin: #e74c3c;
$c_pomegranate: #c0392b;
$c_clouds: #ecf0f1;
$c_silver: #bdc3c7;
$c_concrete: #95a5a6;
$c_asbestos: #7f8c8d;

$primary: #2196f3;
$primary_hover: #1769aa;
$info: #00bcd4;
$info_hover: #008394;
$danger: #f44336;
$danger_hover: #aa2e25;
$success: #4caf50;
$success_hover: #357a38;
$warning: #ffd54f;
$warning_hover: #b29537;
$inverse: #34495e;
$inverse_hover: #4e6d8d;
$disabled: #95a5a6;

/**
  * rgba
  */
$col_alpha_01: rgba(0, 0, 0, 0.01);
$col_alpha_08: rgba(0, 0, 0, 0.08);
$col_alpha_1: rgba(0, 0, 0, 0.1);
$col_alpha_12: rgba(0, 0, 0, 0.12);
$col_alpha_5: rgba(0, 0, 0, 0.5);
$col_alpha_87: rgba(0, 0, 0, 0.87);
$col_alpha_9: rgba(0, 0, 0, 0.9);

/**
  * Base Color
  */
$white: #fff;
$black: #000;
$deep_gray: #505050;
$gray: #999;
$silver: #ccc;
