{
  "presets": [
    ["@babel/env", { "modules": false, "loose": true }],
    ["@babel/react", { "development": true }]
  ],
  "plugins": [
    [
      "emotion",
      {
        "sourceMap": true,
        "autoLabel": true,
        "labelFormat": "[dirname]__[filename]--[local]"
      }
    ]
  ]
}
