@import 'sass/variables';

.root {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .header {
    display: flex;
    align-items: center;
  }

  .title {
    color: red;
    font-size: 10vmin;
  }

  .logo {
    height: 20vmin;
    width: 20vmin;
    animation: logoSpin 10s linear infinite;
  }
}

@keyframes logoSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
