/**
 * Flat UI Color
 */
$fu_c_turquoise: #1ABC9C;
$fu_c_green_sea: #16A085;
$fu_c_emerland: #2ECC71;
$fu_c_nephritis: #27AE60;
$fu_c_peter_river: #3498DB;
$fu_c_belize_hole: #2980B9;
$fu_c_amethyst: #9B59B6;
$fu_c_wisteria: #8E44AD;
$fu_c_wet_asphalt: #34495E;
$fu_c_midnight_blue: #2C3E50;
$fu_c_sun_flower: #F1C40F;
$fu_c_orange: #F39C12;
$fu_c_carrot: #E67E22;
$fu_c_pumpkin: #D35400;
$fu_c_alizarin: #E74C3C;
$fu_c_pomegranate: #C0392B;
$fu_c_clouds: #ECF0F1;
$fu_c_silver: #BDC3C7;
$fu_c_concrete: #95A5A6;
$fu_c_asbestos: #7F8C8D;